@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

input:focus {
  outline: none;
}

body {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-title {
  text-align: center;
  margin: 50px 0;
}

.input-container {
  margin: 20px 0;
}

.input-container,
.list-container {
  display: grid;
  grid-template-columns: 40px 200px 1fr 40px;
  gap: 5px;
}

.list-container {
  margin-bottom: 20px;
}

.fake-check {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

input[type=text] {
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 0 10px;
  border: none;
  transition: background-color 0.2s;
}

input[type=text]:focus {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 300;
}

input[type=date] {
  font-family: inherit;
  font-weight: 300;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  background-color: white;
  width: 100px;
}

input[type=date]:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 255, 207);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
  color: black;
}

.add-task-btn:active {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.check-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-task {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-check-task {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.2s;
}

.custom-check-task::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1px;
  transition: all 0.2s ease-in;
}

.check-task:checked + .custom-check-task::before {
  transform: translate(-50%, -50%) scale(1);
}

.check-task:hover + .custom-check-task {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.name-task {
  font-weight: 300;
  justify-self: flex-start;
  align-self: center;
  padding: 0 10px;
  max-width: 200px;
  overflow-wrap: break-word;
}

.date-task {
  font-weight: 300;
  justify-self: center;
  align-self: center;
}

.delete-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: rgb(255, 227, 227);
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: black;
}

.delete-task-btn:active {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.empty-list {
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */